<router-outlet class="dark">
  
</router-outlet>

<div class="overlay" *ngIf="uiStore.showModal()" (click)="uiStore.toggleModal()">

</div>
<app-toast *ngIf="uiStore.showToast() == true">
</app-toast>

<app-create>

</app-create>



<style>
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(2px); /* optional subtle blur */
    z-index: 5; /* sits above your app but below modal/toast */
    transition: opacity 0.3s ease;
}

  .overlay:hover{
    cursor: pointer;
  }
</style>